* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    color: navy;
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

header {
    background-color: darkcyan;
    padding: 2rem;
    grid-column: 1 / 3;
    text-align: left;
    font-size: 30px;
}

h1 {
    color: 
}