* {
    max-width: auto;
    max-height: auto;
    margin: 5;
    padding: 5;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    color: black;
}

h1 {
    color: black;
}

img {
    max-width: 60%;
    max-height: auto;
}

main {
    background-color: white;
    height: 100%;
    padding: 1rem;
    text-align: center;
}

.container {
    display: flex;
    max-width: fit-content;
    height: auto;
}